[submodule "solana"]
	active = true
	path = /build/solana
	url = https://github.com/kindtek/solana.git
	branch = sdb_dev
[submodule "yubico-net-sdk"]
	active = true
	path = /build/yubico-net-sdk
	url = https://github.com/kindtek/yubico-net-sdk.git
	branch = sdb_dev
