[submodule "kindtek:solana"]
	active = true
	shallow = true
	path = sol
	url = https://github.com/kindtek/solana.git
	branch = solana-sdb-debian
	recurse = true
[submodule "kindtek:yubico-net-sdk"]
	active = true
	shallow = true
	path = yub
	url = https://github.com/kindtek/yubico-net-sdk.git
	branch = yubico-sdb-ubuntu
	recurse = true
